


{% extends "Layaout.html" %}

{% block content %}




<div class="jumbotron">

    <h1 class="display-1">Los Witres S.A.</h1>
    <p class="lead">Bienvenido a nuestra comunidad de borrachos y disfruta de los eventos que tenemos para ti.</p>
    <hr class="my-4">
    <p>Si tienes dudas de nuestros no dudes en contactarnos.</p>
    
    <iframe width="1020" height="1000" src="https://www.youtube.com/embed/R7SbP_tnqxs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="tenor-gif-embed" data-postid="5267031" data-share-method="host" data-width="100%" data-aspect-ratio="1.7857142857142858"><a href="https://tenor.com/view/drinks-amy-schumer-amy-gif-5267031">Drinks Amy Schumer GIF</a> from <a href="https://tenor.com/search/drinks-gifs">Drinks GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div class="tenor-gif-embed" data-postid="14720190" data-share-method="host" data-width="100%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/inna-drinking-drunk-trendizisst-drinking-wine-gif-14720190">Inna Drinking GIF</a> from <a href="https://tenor.com/search/inna-gifs">Inna GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>  
    <div class="tenor-gif-embed" data-postid="5579802" data-share-method="host" data-width="100%" data-aspect-ratio="1.7714285714285714"><a href="https://tenor.com/view/beer-german-gif-5579802">27 Mugs Of Beer! GIF</a> from <a href="https://tenor.com/search/beer-gifs">Beer GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div class="tenor-gif-embed" data-postid="6238679" data-share-method="host" data-width="100%" data-aspect-ratio="1.008097165991903"><a href="https://tenor.com/view/drunk-sleep-gif-6238679">Drunk Sleep GIF</a> from <a href="https://tenor.com/search/drunk-gifs">Drunk GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <iframe width="1020" height="1000" src="https://www.youtube.com/embed/_qqi_L7nlZc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>



  
{% endblock %}

